<template>
         <v-data-table
      row
      hide-default-footer
      show-select
      class="table-viewer"
      v-model="doneList"
      :headers="headers"
      :items="list"
      :search="search"
      :items-per-page="-1"
      :multi-sort="true"
      :must-sort="true"
      :sort-by="sortBy"
      :sort-desc="sortDesc"
      :item-key="itemKey"
      @item-selected=markItem
    >
    <template v-slot:item.actions="{ item }">
     <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    </v-data-table>
</template>

<style lang="scss">
  .table-viewer{
    .v-data-table__selected{
      > .text-start {
          text-decoration: line-through;
      }
    }
  }
</style>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: ['headers','list', 'doneList', 'sortBy', 'sortDesc', 'itemKey', 'search'],
  methods:{
    markItem: function({item, value}){
      item.done = value;
      this.$emit('itemMarked', {item, value})
      this.$emit('listChanged', {data: this.list})
    },
    deleteItem(item){
      const index = this.list.indexOf(item);
      this.list = [...this.list.splice(index, 1)];
      this.$emit('listChanged', {data: this.list})
    }
  },
  computed:{
    
  },
  data: () => ({
  }),
  watch: {
  }
});
</script>