<template>
  <v-container>
        
        <v-flex>  
        <v-text-field
        row
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
        md-8
      ></v-text-field>
      <v-icon md-4 @click="editList = true">mdi-playlist-edit</v-icon>
        <v-flex
          class="card-list"
        > 
          <List
            row
            :headers="headers"
            :list="list"
            :doneList="doneList"
            :sort-by="['done', 'name']"
            :sort-desc="[false, true]"
            :item-key="'title'"
            :search="search"
            @listChanged="updateCardWithDelay(1000)"
        ></List>
        </v-flex>
    </v-flex>
       <v-dialog
      v-model="editList"
      max-width="500"
      @input="updateCard"
      :label="label"
      
    >
    <ListEditor
      :label="label"
      :list="list || []"
      :done-list="doneList"
      @close="editList = false; updateList($event)"
    />
    
 </v-dialog> 

</v-container>
</template>

<style lang="scss">
    .card-list .table-viewer{
      max-height: 10rem;
      overflow-y: auto;
    }

</style>



<script lang="ts">
import Vue from 'vue';
import ListEditor from './ListEditor.vue';
import List from './List.vue';
import FeedService from '../../services/FeedService';
import { Card } from '../../classes/card.class';

export default Vue.extend({
  components: {
    ListEditor,
    List
  },
  props: {
    'label': {
      type: String,
      required: false,
      default: ''
    }, 
    'roomId': {
      type: String,
      required: true
    }, 
    'card': {
      type: Card,
      required: true
    }
  },
  methods:{
    updateCard: function(){
      return FeedService.updateCard(this.card, this.roomId, this.card.corrolationId)
    },
    updateCardWithDelay: function(delayMs: number){
      clearTimeout(this.timer);
      this.timer = setTimeout(() => this.updateCard(), delayMs)
    }
  },
  data: () => ({
    headers: [
          {
            text: 'name',
            sortable: true,
            value: 'title',
          },
          { text: 'Quantity', value: 'qty' },
          { text: 'Actions', value: 'actions', sortable: false },

    ],
    timer: null,
    search: '',
    editList: false,
    

  }),
  computed:{
    list: function(){
        return this.card.payload.list || [];
    },
    doneList: function(){
        return this.list.filter(i => i.done);
      }
  }
});
</script>