<template>
    <v-card>
      <v-card-title>{{label}}</v-card-title>
      <v-card-text style="height: 70vh; overflow:hidden">
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent="addRecord"
            >
            <v-flex
            md-nowrap 
            row 
            sm-wrap
          >
            <v-flex
            column 
            sm12 
            md8
            >
            <v-combobox
              v-model="record.title"
              label="item"
              v-on:keydown.enter.prevent
              :items="list"
              :rules="[v => !!v || 'Item is required']"
              :item-value="'title'"
              :item-text="'title'"
              :return-object="false"
              required
              clearable
              hide-no-data
              class=""
            ></v-combobox>
            </v-flex>
             <v-flex
            column 
            sm10 
            md2
            >
            <v-text-field
              v-model="record.qty"
              label="amount"
            ></v-text-field>
             </v-flex>
              <v-flex
            column 
            sm2 
            md2
            >
            <v-btn
            :disabled="!valid"
            color="success"
            type="submit"
          >
            <v-icon>fas fa-plus</v-icon>
          </v-btn>
          </v-flex>
           </v-flex>

            </v-form>
            <List
            style="overflow: auto;max-height: 50vh;"
                  row
                  :headers="headers"
                  :list="list"
                  :doneList="doneList"
                  :sort-by="['done', 'name']"
                  :sort-desc="[false, true]"
                  :item-key="'title'"
                  @itemMarked="updateCardWithDelay(1000)"
              ></List>
        </v-card-text>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import List from './List.vue';

export default Vue.extend({
  components: {List},
  props: ['list', 'label', 'doneList'],
  methods:{
    addRecord: function(){
      const rec = this.list.find(i => i.title === this.record.title);
      if(!rec){
        this.list.unshift(this.record);
      }else{
        rec.done = false;
        rec.qty = this.record.qty
      }
      this.record = {qty: "1"};
    }
  },
  computed:{
    
  },
  data: () => ({
    valid: false,
    headers: [
          {
            text: 'name',
            sortable: true,
            value: 'title',
          },
          { text: 'Quantity', value: 'qty' },
          { text: 'Actions', value: 'actions', sortable: false },

    ],
    record: {qty: "1"}
  }),
  watch: {
  }
});
</script>