<template>
<section>
  <Drawer/>
  <Layout/>
</section>
</template>

<script lang="ts">
import Vue from 'vue';
import Layout from '../components/Layout.vue';
import Drawer from '../components/Drawer.vue';

export default Vue.extend({
  components: {
    Drawer,
    Layout
  },
});
</script>
