<template>
 <v-container>
    <v-layout
      wrap
      row
    >
      <v-flex 
          fill-height
          justify-space-center
          align-content-center
          column
          sm12 
          md6 
          lg4 
          xl3>
           <v-card
              color="#FFFFFF"
              max-width="400"
            >
      <v-card-title> Login</v-card-title>
      <v-card-text>
        <!--<v-form
        ref="form"
        v-model="valid"
      > 
         <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
        ></v-text-field>
        <v-text-field
              v-model="password"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.minLength]"
              :type="show ? 'text' : 'password'"
              name="input-10-2"
              label="Password"
              hint="At least 6 characters"
              class="input-group--focused"
              @click:append="show = !show"
          ></v-text-field>
  
        </v-form> --->
        <v-btn
        color="primary"
        :disabled="$auth.loading"
        :loading="loading"
        @click="loginGoogle"
      >
        Login with Google
      </v-btn>
      </v-card-text>
        <v-card-actions>
      <!-- <v-btn
        color="primary"
        :disabled="!valid"
        @click="login"
      >
        Login
      </v-btn> -->
    </v-card-actions>
    </v-card>
    </v-flex>
    </v-layout>
    </v-container>
</template>

<script>
import Vue from 'vue';
import AuthorizationService from '../services/AuthorizationService';

export default Vue.extend({
  methods:{
    login(){
      AuthorizationService.login(this.email, this.password)
    },
    async loginGoogle(){
        if(this.$auth.isAuthenticated){
          return this.$router.push('home');
        }
        if(this.$auth.loading){
          return;
        }

        this.loading = true;
        let user;
        try{
          await this.$auth.loginWithPopup();
        }catch(e){
          console.error(e);
          return await this.$auth.logout();
        }
        finally{
          this.loading = false;
        }
        await AuthorizationService.authorize(this.$auth.user).then(res => res.data);
        return this.$router.push('home');
    }
  },
  data: () => ({
      password: null,
      email: null,
      rules: {
        required: value => !!value || 'Required.',
        minLength: value => (value || '').length > 5 || 'Invalid password'        
      },
      show: false,
      valid: false,
      loading: false,
      emailRules: [
        value => !!value || 'Required.',
        value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || 'Invalid e-mail.'
        },
      ],
    })
})
</script>