<template>
  <v-app>
  
  <v-app-bar app :flat="true" color="primary" class="navbar" :dark="true">
      <v-app-bar-nav-icon @click.stop="toggleDrawer()">
         <v-icon>{{drawerStatus ? 'mdi-close' : 'mdi-menu'}}</v-icon>
      </v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase" :dark="darkMode">
        <span>Roomie</span>
        <span class="font-weight-light"> - Your smart roomate</span>
      </v-toolbar-title>
    </v-app-bar>
  
    <section class="root-content-wrapper">
      <div v-if="loader">loading...</div>
        <router-view></router-view>
    </section>
   
  </v-app>
</template>

<style lang="scss">
.root-content-wrapper{
  padding-top: 4rem;
  height: 100vh;
  position: relative;
  > * {
    height: 100%;
  }
  .headline{
    color: white!important;
  }
  .navbar *{
    color:white;
  }
}

</style>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';

export default Vue.extend({
  name: 'App',
  created(){
    if(this.$auth.isAuthenticated){
      this.$router.push('home')
    }
  },
  components: {
  },
  methods:{
    toggleDrawer: function(){
      this.$store.dispatch('setDrawerStatus', !this.drawerStatus)
    }
  },
  computed:{
    ...mapGetters({
      loader:'getLoader',
      darkMode: 'getDarkMode',
      drawerStatus: 'getDrawerStatus'
    })
  },
  data: () => ({
    //
  }),
});
</script>
