<template>
<v-layout row>
  <v-flex xs12 v-if="stateUrl">
    <v-img
      class="align-center justify-center flex"
      :src="stateUrl"
      :alt="status"
      style="max-width:128px;margin-left:25%;margin-right:25%"
    ></v-img>
  </v-flex>
    <v-flex
    display-3
    xs7>
    {{temperature}}&deg;C
  </v-flex>
  <v-flex
    column
    justify-center
    align-center
    text-align-center
    xs5
    v-if="humidity"
    >
    <v-flex
    caption
    xs12
    >
    Humidity
    </v-flex>
    <v-flex
    display-2>
    {{humidity}}%
    </v-flex>
  </v-flex>
</v-layout>
</template>

<script lang="ts">
import Vue from 'vue';

const states = {
  "sunny":"https://developer.accuweather.com/sites/default/files/01-s.png",
  "mostly sunny":"https://developer.accuweather.com/sites/default/files/02-s.png",
  "partly sunny":"https://developer.accuweather.com/sites/default/files/03-s.png",
  "intermittent clouds":"https://developer.accuweather.com/sites/default/files/36-s.png",
  "hazy sunshine":"https://developer.accuweather.com/sites/default/files/05-s.png",
  "mostly cloudy":"https://developer.accuweather.com/sites/default/files/38-s.png",
  "cloudy":"https://developer.accuweather.com/sites/default/files/07-s.png",
  "dreary":"https://developer.accuweather.com/sites/default/files/08-s.png",
  "fog":"https://developer.accuweather.com/sites/default/files/11-s.png",
  "showers":"https://developer.accuweather.com/sites/default/files/12-s.png",
  "mostly cloudy w/ showers":"https://developer.accuweather.com/sites/default/files/40-s.png",
  "partly sunny w/ showers":"https://developer.accuweather.com/sites/default/files/14-s.png",
  "t-storms":"https://developer.accuweather.com/sites/default/files/15-s.png",
  "mostly cloudy w/ t-storms":"https://developer.accuweather.com/sites/default/files/42-s.png",
  "partly sunny w/ t-storms":"https://developer.accuweather.com/sites/default/files/17-s.png",
  "rain":"https://developer.accuweather.com/sites/default/files/18-s.png",
  "flurries":"https://developer.accuweather.com/sites/default/files/19-s.png",
  "mostly cloudy w/ flurries":"https://developer.accuweather.com/sites/default/files/43-s.png",
  "partly sunny w/ flurries":"https://developer.accuweather.com/sites/default/files/21-s.png",
  "snow":"https://developer.accuweather.com/sites/default/files/22-s.png",
  "mostly cloudy w/ snow":"https://developer.accuweather.com/sites/default/files/44-s.png",
  "ice":"https://developer.accuweather.com/sites/default/files/24-s.png",
  "sleet":"https://developer.accuweather.com/sites/default/files/25-s.png",
  "freezing rain":"https://developer.accuweather.com/sites/default/files/26-s.png",
  "rain and snow":"https://developer.accuweather.com/sites/default/files/29-s.png",
  "hot":"https://developer.accuweather.com/sites/default/files/30-s.png",
  "cold":"https://developer.accuweather.com/sites/default/files/31-s.png",
  "windy":"https://developer.accuweather.com/sites/default/files/32-s.png",
  "clear":"https://developer.accuweather.com/sites/default/files/33-s.png",
  "mostly clear":"https://developer.accuweather.com/sites/default/files/34-s.png",
  "partly cloudy":"https://developer.accuweather.com/sites/default/files/35-s.png",
  "some clouds":"https://developer.accuweather.com/sites/default/files/35-s.png",
  "hazy moonlight":"https://developer.accuweather.com/sites/default/files/37-s.png",
  "partly cloudy w/ showers":"https://developer.accuweather.com/sites/default/files/39-s.png",
  "partly cloudy w/ t-storms":"https://developer.accuweather.com/sites/default/files/41-s.png"}
export default Vue.component('ClimateViewer',{
  props: ['temperature', 'humidity','status'],
  data: function(){
    return {
    }
  },
  computed:{
    stateUrl: function(){
      return this.status && states[this.status.toLowerCase()] ? states[this.status.toLowerCase()] : "";
    }
  }
});
</script>