<template>
  <v-container>
        <v-window>
          <v-window-item>
          <v-carousel
          v-model="focused"
          :show-arrows-on-hover="true"
          :hide-delimiters="true"
          :cycle="false"
          :height="150"
          >
            <v-carousel-item
            v-for="(control, i) in controls"
            :value="control.action"
            :key="i"
            >
            <v-flex
              text-center
              align-center
              :style="{color:control.action === current ? control.color : 'grey'}">
                <v-flex>
                  <v-icon v-text="control.icon" size="3rem" :color="control.action === current ? control.color : 'grey'"></v-icon>
                </v-flex>
                <v-flex>
                <span style="font-size:2rem">{{control.label}}</span>
                </v-flex>
            </v-flex>
            </v-carousel-item>
          </v-carousel>
          </v-window-item>
        </v-window>
        <v-flex>
          <label>Temperature</label>
          <v-slider
                  v-model="temperature"
                  :thumb-size="24"
                  step="1"
                  ticks="always"
                  tick-size="1"
                  track-color="grey"
                  min="16"
                  max="30"
                  thumb-label="always"
                  append-icon="temperature-high"
                  prepend-icon="temperature-low"
                  color="blue"
                ></v-slider>
          <v-flex
            >
          <v-btn 
            align-end
            color="primary"
            :disabled="!change"
            @click="applyAction()">Apply</v-btn>
          </v-flex>
          </v-flex>
</v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import ClimateControlService from '../services/ClimateControlService';

export default Vue.extend({
  props: ['brand', 'model', 'temperature', 'currentAction', 'state'],
  methods:{
    applyAction: function(){
      this.current = this.focused;
      ClimateControlService.applyAction(this.roomId, this.current);
    }
  },
  data: () => ({
   focused: '',
   current:'',
   roomId: '1',
   change: true,
   controls:[
    {     
      label: 'Cool',
      icon: 'fa-snowflake',
      action: 'cool',
      color: 'rgb(148, 198, 255)',
    },
    {
      label: 'Heat',
      icon: 'fa-sun',
      action: 'heat',
      color: 'rgb(253, 73, 33)',
    },
    {
      label: 'Dry',
      icon: 'fa-tint',
      action: 'dry',
      color: 'rgb(151, 187, 212)',
    },
    {
      label: 'Wind',
      icon: 'fa-wind',
      action: 'wind',
      color: 'rgb(151, 187, 212)',
    }
   ]
  }),
  watch: {
    currentAction: function(current){
      this.current = current
    }
  }
});
</script>