<template>
      <v-card>
        <v-card-title class="headline">Add new room</v-card-title>

        <v-card-text>
          <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="name"
      :counter="50"
      label="Name"
      required
    ></v-text-field>

    <v-select
      v-model="type"
      :items="types"
      :rules="[v => !!v || 'Item is required']"
      label="Type"
      required
    ></v-select>
    </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="dialog = false"
          >
            Cancel
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="addRoom"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { types } from 'util';

export default Vue.extend({
  components: {
  },
  methods:{
    closeDialog: function(data: any){
        this.$emit('close', data)
        this.type = '';
        this.name = '';
    },
    addRoom: function(){
      if(this.valid){
        this.closeDialog({name: this.name, type: this.type})
      }
    }
  },
  computed:{
  },
  data: () => ({
    types:[
      "Home",
      "Living-room",
      "Bedroom"
    ],
    name: "",
    type: "",
    valid: false
  }),
  watch: {
  },
  async created(){
  }
});
</script>
