<template>
      <v-card>
        <v-card-title class="headline">Add new card to {{ roomName }}</v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-select
              v-model="type"
              v-on:change="typeChange"
              :items="types"
              :rules="[v => !!v || 'Item is required']"
              label="Type"
              required
            ></v-select>

          <template
          v-if="type === 'climate'">
            <v-text-field
              v-model="payload.country"
              :counter="20"
              label="Country"
              required
            ></v-text-field>
            
            <v-text-field
              
              v-model="payload.city"
              :counter="20"
              label="City"
              required
            ></v-text-field>
          </template>

          <template
          v-else-if="type === 'control'"
          >
            <v-select
              v-model="device"
              :items="devices"
              :rules="[v => !!v || 'Item is required']"
              label="Device"
              required
            ></v-select>
          </template>
          <template
          v-else
          >
            <v-text-field
              v-model="payload.label"
              :counter="20"
              label="Card Name"
              required
            ></v-text-field>
          </template>

            </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="closeDialog"
          >
            Cancel
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="addCard"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  components: {
  },
  props: {
      roomName: String
  },
  methods:{
    closeDialog: function(data: any){
        this.$emit('close', data)
    },
    addCard: function(){
        this.closeDialog({type: this.type, payload: this.payload})
    },
    typeChange: async function(){
      if (this.type === 'control'){
        // { filters: [{ services: [''] }] }
        try{
          this.device = await (<any> navigator).bluetooth.requestDevice({acceptAllDevices: true});        
        }catch(e){
          console.log(e)
          this.type = '';
          if(!e.message.toLowerCase().includes("user cancelled")){
            this.typeChange();
          }
        }
      }
    }
  },
  computed:{
  },
  data: () => ({
    types:[
      "climate",
      "control",
      'list'
    ],
    valid: false,
    type: "",
    device: null,
    devices: [],
    payload:{}
  }),
  watch: {
  },
  async created(){
  }
});
</script>
