<template>
  <section>
    <v-layout
      nowrap
      row
      justify-space-between
    >
      <h1 class="headline">{{feed.label}}</h1>
      
    </v-layout>
    <v-layout
      wrap
      row
    >
          <draggable v-model="cards" draggable=".single-card:not(.add)"
                    class="flex wrap row justify-flex-start align-content-center">
           <v-card
              v-for= "(card, index) in cards" :key="index"
              color="white"
              :class="'single-card '+ card.type"
              column
              sm12 
              md6 
              lg4 
              xl3
            >
              <v-list-item>
                <v-list-item-content row
                    sm10
                    md10
                    lg10
                    xl1>
                  <div column>
                    <v-list-item-title class="title"
                    column sm12>{{card.title}}</v-list-item-title>
                    <v-list-item-subtitle v-if="card.payload && card.payload.timestamp">Last update: {{card.payload.timestamp | date}}</v-list-item-subtitle>
                  </div>
                </v-list-item-content>
                   <v-icon 
                    sm2
                    md2
                    lg2
                    xl2
                      v-if="card.type !== 'add'"
                      v-on:click="removeCard(index)"
                    >fas fa-trash</v-icon>
              </v-list-item>

              <v-card-text>
                  <v-layout
                      fill-height
                  >
                    <ClimateViewer
                    v-if="card.type === 'climate'"
                    :temperature="card.payload.temperature"
                    :humidity="card.payload.humidity"
                    :status="card.payload.state"
                    />
                    <ClimateControl
                      v-else-if="card.type === 'control' && card.payload.type === 'climate'" 
                      :temperature="card.payload.temperature"
                      :currentAction="card.payload.currentAction"
                      :state="card.payload.state"
                    />
                    <ListViewer
                      v-else-if="card.type === 'list'" 
                      :label="card.label"
                      :roomId="feed.id"
                      :card="card"
                      @close="updateRoom()"
                    />
                    <v-flex v-else-if="card.type === 'add'" @click="cardAddDialog=true"
                      justify-center
                      align-center
                      fill-height
                      display-4
                      xs12
                       class="text-center">
                       +
                    </v-flex>
                    <!-- add Multimedia support -->
                    <!-- add water heat support -->
                    <span v-else>Not supported</span>
                </v-layout>
              </v-card-text>
            </v-card>
    </draggable>

    </v-layout>
    <v-dialog
      v-model="cardAddDialog"
      max-width="290"
      :roomName="feed.label"
    >
    <CreateCard @close="cardAdd($event)" />
 </v-dialog> 
 </section>
</template>

<style lang="scss">
  .single-card{
      flex: 0 1 calc(33% - 1rem);
      margin: 0.5rem;
  }
</style>
<script lang="ts">
import Vue from 'vue';
import ClimateControl from './ClimateControl.vue';
import CreateCard from './CreateCard.vue';
import ClimateViewer from './ClimateViewer.vue';
import ListViewer from './list/ListViewer.vue';
import { mapGetters } from 'vuex';
import { IRoomieState } from '../store';
import ClimateControlService from '../services/ClimateControlService';
import AuthorizationService from '../services/AuthorizationService';
import UserService from '../services/UserService';
import draggable from "vuedraggable";



export default Vue.extend({
  components: {
    ClimateControl,
    ClimateViewer,
    CreateCard,
    ListViewer,
    draggable
  },
  computed:{
    ...mapGetters({
      feed: 'getFeed'
    }),
    cards:{
      set(feeds: any[]){
        const activeRoom = this.$store.getters.getActiveRoom

        feeds = feeds.filter(f => f.type !== 'add')
        const ids = feeds.map(feed=> feed.corrolationId)
        ids.forEach((id, index) =>{
          const feed = activeRoom.feed.find(f => f.corrolationId === id);
          const feature = activeRoom.features.find(f => f.id === id);
          if(feed){
            feed.order = index;
          }
          if(feature){
            feature.order = index;
          }
        })
        activeRoom.feed.sort((a, b) => a.order - b.order);
        activeRoom.features.sort((a, b) => a.order - b.order);
        this.$store.dispatch('setRoom', activeRoom)
        UserService.setRoom(activeRoom);
      },
      get() {
          return this.$store.getters.getFeed.cards
      },
    }
  },
  methods:{
    cardAdd: function(cardData){
      this.cardAddDialog = false;
      if(cardData && cardData.type){
        this.updateRoom(cardData)
      }
    },
    updateRoom: function(newCardData?){
      const room = this.$store.getters.getActiveRoom;
        room.features = room.features || [];
        if(newCardData){
          room.features.push(newCardData);
        }
        UserService.setRoom(room);
    },
    removeCard: function(index: number){
      const room = this.$store.getters.getActiveRoom;
      room.features.splice(index,1);
      UserService.setRoom(room);
    }
  },
  data: () => ({
    cardAddDialog: false
  }),
  watch: {
    feed: function(feedVal){
      if(feedVal && Array.isArray(feedVal.cards)){
        feedVal.cards.push({type: "add", title: "Add card"});
      }
    }
  },
  async created(){
    let user;
    await this.$authOnReady;
    // if(!this.$auth.isAuthenticated){
    //    return this.$auth.logout({
    //     returnTo: window.location.origin
    //   });
    // }
    try{
      await UserService.getUserData();
    }catch(e){
      console.error(e)
      UserService.logout()
    }
  }
});
</script>
