<template>
<section class="drawer-wrapper">
    <v-navigation-drawer
      v-model="drawerStatus"
      :app="true"
      fixed
      color="info"
      @click.stop="setDrawerStatus(false)"
      :dark="darkMode"
      style="float: left; position: absolute"
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-img :src="user.picture"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>{{user.firstName}} {{user.lastName}}</v-list-item-title>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="item in roomsDashboard"
          :key="item.title"
          @click="setRoom(item.id)"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ getRoomIcon(item.type) }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item-content>
            <v-icon v-on:click="removeRoom()">fas fa-trash</v-icon>

        </v-list-item>
      </v-list>
      <v-btn @click="showCreateRoomDialog" color="primary" raised class="action-btn">+</v-btn>
      <v-btn @click="logout" raised class="action-btn logout-btn">Logout</v-btn>
    </v-navigation-drawer>
    <v-dialog
      v-model="dialog"
      max-width="290"
    >
    <CreateRoom @close="addRoom($event.name, $event.type)" />
 </v-dialog> 
    </section>
</template>


<style scoped lang="scss">
  .action-btn{
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }
  .logout-btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }

</style>
<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import UserService from '../services/UserService';
import CreateRoom from './CreateRoom.vue';
import FeedService from '../services/FeedService';

export default Vue.extend({
  components: {
    CreateRoom
  
  },
  computed:{
    ...mapGetters({
      mainDashboard:'getMainDashboard',
      roomsDashboard: 'getRoomsArray',
      user: 'getUser',
      activeRoom: 'getActiveRoom',
      darkMode: 'getDarkMode',
      _drawerStatus: 'getDrawerStatus'
    }),
    drawerStatus:{
      get: function(){
        return this._drawerStatus;
      },
      set: function(status){
        return this.setDrawerStatus(status);
      }
    }
  },
  methods:{
    setDrawerStatus(status: boolean){
      this.$store.dispatch('setDrawerStatus', status);
    },
    removeRoom: function(){
      UserService.removeRoom(this.$store.getters.getActiveRoom.id)
    },
    logout(){
      UserService.logout()
    },
    showCreateRoomDialog(){
      this.dialog = true;
    },
    addRoom(roomName: string, roomType: string ){
      this.dialog = false;
      if(roomName && roomType){
        UserService.addRoom(roomName, roomType);
      }
    },
    setRoom: function(roomId: string){
      this.$store.dispatch('setRoomId',roomId)
      this.setDrawerStatus(false);
    },
    getRoomIcon(type: string){
      switch(type && type.toUpperCase()){
        case 'LIVING-ROOM':
          return 'mdi-sofa'
        case 'BED-ROOM':
          return 'mdi-bed-empty'
        default:
          return 'mdi-home-city';
      }
    }
  },
  data: () => ({
        name: '',
        dialog: false
  })
});
</script>
