<template>
<v-container>
 <Dashboard/>
 </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Dashboard from './Dashboard.vue';
import { mapGetters } from 'vuex';
import { IRoomieState } from '../store';

export default Vue.extend({
  components: {
    Dashboard
    
  },
  computed:{
    ...mapGetters({
      mainDashboard:'getMainDashboard',
      roomsDashboard: 'getRooms'
    })
  },
  data: () => ({
     
  }),
});
</script>
